@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ProductModel>
@{
    Layout = "_Layout";
}@{
    if (Model != null)
    {
        <div><a asp-action="Create" asp-asp-controller="Product">New Product</a></div>
        <table class="table">
            <thead>
                <tr>

                    <td>Product Name</td>
                    <td>Information</td>
                    <td>ProductPrice</td>
                    <td>DiscountPercentage</td>
                    <td>Stock Quantity</td>
                    <td>IsApprovedProduct</td>
                    <td>Categories</td>
                    <td>IsProductActive</td>
                    <td></td>
                    <td></td>
                    

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductName</td>
                        <td>@product.ProductInformation</td>
                        <td>@product.ProductPrice</td>
                        <td>@product.DiscountPercentage</td>
                        <td>@product.ProductQuantity</td>
                        <td>@product.IsApprovedProduct</td>
                        <td>@product.CategoryName</td>
                        <td>@product.IsProductActive</td>
                        <td>
                            <a asp-action="ActiveProduct" asp-controller="Seller"
                               asp-route-id="@product.ID" class="btn btn-outline-success ">Active</a>
                        </td>
                        <td>
                            <a asp-action="PassiveProduct" asp-controller="Seller"
                               asp-route-id="@product.ID" class="btn btn-danger ">Passive</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
            bulunamadı
        </div>
    }
}
<div class="pagination">
@Html.PagedListPager((IPagedList)Model, page => Url.Action("SellerProductList", "Product", new { page }))
</div>