@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<SellerModel>

@{
    Layout = "_Layout";
}@{
    if (Model != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID </td>
                    <td>Name</td>
                    <td>LastName</td>
                    <td>Address</td>
                    <td>PhoneNumber</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Username</td>
                    <td>Company Type</td>
                    <td>Tax Payer ID Number</td>
                    <td>IsApproved</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var seller in Model)
                {
                    <tr>
                        <td>
                            @seller.ID
                        </td>
                        <td>@seller.FirstName</td>
                        <td>@seller.LastName</td>
                        <td>@seller.Address</td>
                        <td>@seller.PhoneNumber</td>
                        <td>@seller.Email</td>
                        <td>@seller.Password</td>
                        <td>@seller.Username</td>
                        <td>@seller.CompanyType</td>
                        <td>@seller.TaxpayerIDNumber</td>
                        <td>@seller.IsApprove</td>
                        <td>
                            <a asp-action="ApprovedSeller" asp-controller="Admin" 
                               asp-route-id="@seller.ID" class="btn btn-outline-success " >Approve</a>
                        </td>
                        <td>
                            <a asp-action="RejectSeller" asp-controller="Admin"
                               asp-route-id="@seller.ID" class="btn btn-danger ">Reject</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div>
           Not Found
        </div>
    }
}
<div class="pagination">
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ListSeller", "Admin", new { page }))
</div>