@model LoginModel
@{
    Layout = "_Layout";
}
<div><h4>Admin Login </h4></div>
    <div class="container">
        <form class="w-50 m-5 p-5" asp-action="Login" asp-controller="Admin" method="post">
            <div class="mb-5">
                <label for="@Model.Email" class="form-label">Email:</label>
                <input type="text" class="form-control" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="mb-5">
                <label for="@Model.Password" class="form-label">Password:</label>
                <input type="password" class="form-control" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="mb-5">
                <button>Login</button>
            </div>
        </form>
    </div>
