@model List<CustomerCartListModel>
@{
    Layout = "_Layout";
}
@{



    <div><h4>Your Cart </h4></div>
    if (Model != null && Model.Count > 0)
    {


        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                        <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                        <th class="text-center py-3 px-4" style="width: 150px;">Quantity</th>
                       <th></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var cart in Model)
                    {


                        <tr>

                            <td>@cart.ProductName</td>
                            <td>@cart.Price</td>


                            <td class="tblbox">

                                    <form method="post" asp-action="IncreaseCart" asp-controller="Customer">
                                        <input value="+" class="btn btn-success" type="submit" />
                                        <input type="hidden" name="ProductID" value="@cart.ProductID" />
                                    </form>
                             
                              
                                    &nbsp;&nbsp;
                                    @cart.Quantity
                                    &nbsp;&nbsp;
                               
                                <form method="post" asp-action="DecreaseCart" asp-controller="Customer">
                                    <input value="-" class="btn btn-danger" type="submit" />
                                    <input type="hidden" name="ProductID" value="@cart.ProductID" />

                                </form>
                               
                            </td>
                            <td></td>
                        </tr>

                    }
                <td></td>
                <td></td>
                <td></td>
               
                <td>total:@Model.Sum(x => x.Price)   </td>
                </tbody>
            </table>

        </div>
        <br />
        <div><a class="btn btn-dark" asp-action="CreditCart" asp-controller="Customer">Buy</a></div>


    }
    else
    {
        <p>Your Cart is empty</p>
    }
}