@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ProductModel>

@{
    Layout = "_Layout";
}
@{
    if (Model != null)
    {
        <div>
            <table class="table" border="1">


                <tr>
                    @foreach (var item in Model.Take(3))
                    {
                        <td>
                            <img height="290" width="400" />
                            <b>@item.ProductName</b>
                            @item.ProductInformation

                            <p>Price &nbsp; &nbsp;</p>@item.ProductPrice
                            <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                        </td>

                    }


                </tr>
                <tr>
                    @foreach (var item in Model.Skip(3).Take(3))
                    {
                        <td>
                            <img height="290" width="400" />
                            <b>@item.ProductName</b>
                            @item.ProductInformation

                            <p>Price &nbsp; &nbsp;</p>@item.ProductPrice
                            <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                        </td>

                    }


                </tr>
                <tr>
                    @foreach (var item in Model.Skip(3).Take(3))
                    {
                        <td>
                            <img height="290" width="400" />
                            <b>@item.ProductName</b>
                            @item.ProductInformation

                            <p>Price &nbsp; &nbsp;</p>@item.ProductPrice
                            <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                        </td>

                    }


                </tr>

            </table>
        </div>
    }

    Html.PagedListPager((IPagedList)Model, page => Url.Action("DisplayIndex", new { page }));
}
