@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ProductForCustomerModel>

@{
    Layout = "_Layout";
}
@{

    if (Model != null)
    {
        <div>
            <table class="table">               
                <tr>
                        @foreach (var item in Model.Take(3))
                    {
                        var info = item.ProductInformation;
                        if (item.ProductInformation.Length > 50)
                        {
                            info = item.ProductInformation.Substring(0, 30) + "...";
                        }
                        <td>
                        <div class="card" style="width: 18rem;">
                                <img alt="resim" src="data:png;base64,@item.Image" style="height:315px;" />
                            <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <p class="card-text">@item.Username</p>
                                    Price :@item.ProductPrice $
                                    <p class="card-text">@info</p>
                                    
                                    <a  class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                    <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                            </div>
                        </div>
                        </td>
                        
                       
                       
                        }
                   
                    
                </tr>
                <tr>
                    @foreach (var item in Model.Skip(3).Take(3))
                    {
                        var info = item.ProductInformation;
                        if (item.ProductInformation.Length > 50)
                        {
                            info = item.ProductInformation.Substring(0, 30) + "...";
                        }

                        <td>
                            <div class="card" style="width: 18rem;">
                                <img alt="resim" src="data:png;base64,@item.Image" style="height:315px;" />
                                <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <p class="card-text">@item.Username</p>
                                    Price :@item.ProductPrice $
                                    <p class="card-text">@info</p>
                                    <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                    <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                                </div>
                            </div>
                        </td>
                    }


                </tr>
                <tr>
                    @foreach (var item in Model.Skip(6).Take(3))
                    {
                        var info = item.ProductInformation;
                        if (item.ProductInformation.Length > 50)
                        {
                            info = item.ProductInformation.Substring(0, 30) + "...";
                        }
                        <td>
                            <div class="card" style="width: 18rem;">
                                <img alt="resim" src="data:png;base64,@item.Image" style="height:315px;" />
                                <div class="card-body">
                                    <h5 class="card-title">@item.ProductName</h5>
                                    <p class="card-text">@item.Username</p>
                                    Price :@item.ProductPrice $
                                    <p class="card-text">@info</p>
                                    <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.ID">Details</a>
                                    <a class=" btn btn-outline-success" asp-controller="Customer" asp-action="AddProductCart" asp-route-ProductID="@item.ID">Add Cart</a>
                                </div>
                            </div>
                        </td>
                    }


                </tr>
             
            </table>
        </div>
    }
   
}
   <div class="pagination">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Home", new { page }))
</div>
