@model ProductModel
@{
    Layout = "_Layout";
}

<form class="w-75 m-5 p-2 " asp-action="EditProduct" asp-controller="Seller" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="@Model.ProductName" class="form-label">Product Name</label>
        <span asp-validation-for="@Model.ProductName" class="text-black"></span>
        <input type="text" class="form-control" asp-for="@Model.ProductName" />
    </div>
    <div class="mb-3">
        <label for="@Model.ProductInformation" class="form-label">Product Information</label>
        <span asp-validation-for="@Model.ProductInformation" class="text-black"></span>
        <input type="text" class="form-control" asp-for="@Model.ProductInformation" />
    </div>
    <div class="mb-3">
        <label for="@Model.ProductPrice" class="form-label">Product Price</label>
        <span asp-validation-for="@Model.ProductPrice" class="text-black"></span>
        <input type="text" class="form-control" asp-for="@Model.ProductPrice" />
    </div>
    <div> <img alt="resim" src="data:png;base64,@Model.Image" style="height:315px;" /></div>
    
    <div class="mb-3">
        <label class="form-label">Image</label>
        <span asp-validation-for="@Model.Image" class="text-black"></span>
        <input type="file" value="@Model.Image" class="form-control" asp-for="@Model.Image" />
    </div>
    <div class="mb-3">
        <label for="@Model.DiscountPercentage" class="form-label">Discount Percentage</label>
        <span asp-validation-for="@Model.DiscountPercentage" class="text-black"></span>
        <input type="text" class="form-control" asp-for="@Model.DiscountPercentage" />
    </div>

    <div class="mb-3">
        <label for="@Model.ProductQuantity" class="form-label">Stock Quantity</label>
        <span asp-validation-for="@Model.ProductQuantity" class="text-black"></span>
        <input type="text" class="form-control" asp-for="@Model.ProductQuantity" />
    </div>

    <div class="mb-3">
        <label for="@Model.CategoryID" class="form-label">Product Category</label>
        <select class="form-select" asp-items="@Model.Categories" asp-for="CategoryID"></select>
    </div>


    <div class="mb-3">
        <button class=" btn-primary w-100">Save</button>
    </div>
</form>