@model SellerModel


@{
    Layout = "_Layout";
}
<div><h4>Seller Register </h4></div>
<div class="container">
    <form class="w-50 m-5 p-2 " asp-action="SignUp" asp-controller="Seller" method="post">
        <div class="mb-3">
            <label for="@Model.FirstName" class="form-label">First Name</label>
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.FirstName" />
        </div>
        <div class="mb-3">
            <label for="@Model.LastName" class="form-label">LastName</label>
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.LastName" />
        </div>
        <div class="mb-3">
            <label for="@Model.Email" class="form-label">Email</label>
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.Email" />
        </div>
        <div class="mb-3">
            <label for="@Model.Password" class="form-label">Password</label>
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
            <input type="password" class="form-control" asp-for="@Model.Password" />
        </div>
        <div class="mb-3">
            <label for="@Model.Address" class="form-label">Address</label>
            <span asp-validation-for="@Model.Address" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.Address" />
        </div>
        <div class="mb-3">
            <label for="@Model.Username" class="form-label">Username</label>
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.Username" />
        </div>
        <div class="mb-3">
            <label for="@Model.PhoneNumber" class="form-label">Phone Number</label>
            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.PhoneNumber" maxlength="10" />
        </div>
        <div class="mb-3">
            <label for="@Model.CompanyType" class="form-label">Company Name</label>
            <span asp-validation-for="@Model.CompanyType" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.CompanyType" />
        </div>
        <div class="mb-3">
            <label for="@Model.TaxpayerIDNumber" class="form-label">TaxpayerIDNumber</label>
            <span asp-validation-for="@Model.TaxpayerIDNumber" class="text-danger"></span>
            <input type="text" class="form-control" asp-for="@Model.TaxpayerIDNumber" maxlength="10" />
        </div>
       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Sign Up
        </button> <button class="btn btn-primary" asp-action="Login" asp-controller="Seller">Sign In</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <div class="modal-body">
                        You will wait for the administrator's approval
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary w-55">Sign Up</button>
                       

                    </div>
                </div>
            </div>
        </div>
    </form>

